.anchor{
    display:flex; 
    align-items: center; 
    justify-content: center; 
    gap: 3rem;
    font-size: large;
    width: 100%;
}

a{
    text-decoration: none;
    font-weight: bold;
}

.container {
    background-image: url('bird.jpg');
    width: 100vw;
    height: 100vh;
    background-size: cover;

}

.content{
    display: flex;
    flex-direction: row;
    
.name {
    text-align: left;
    font-size: 2rem;
    color: white;
    margin-top: 20px;
    color: red;
}